/build/
/dist/
/build/classes/
/build/test/
/*.class
*.jar

# .res se generan junto a los datos dentro de src/data
/src/data/*.res

/nbproject/private/
/nbproject/private/*

*.log
*.tmp
*.swp
*.swo

.idea/
*.iml
.vscode/
.project
.classpath
.settings/

.DS_Store
Thumbs.db

